.header {
    width : 358px;
    height: 60px;
    background-color: #806BDC;
}
a {
    width: 358px;
    height: 28px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
h2 {
    color: white;
    font-family: Arial, sans-serif;
}

table,td,th{
    width: 358px;
    border-collapse : collapse;
    border: 2px solid black;
}